# Python
venv
test.db
__pycache__/
cover
.coverage
dump.rdb
/build/
tasq
devenv/

# NodeJS
node_modules/
.nuxt

# Development
/bazel-*
.idea/
*.log
.DS_Store

# Telethon session files
*.session

# IPFS collection for Cognitron
bafykbzacebzohi352bddfunaub5rgqv5b324nejk5v6fltjh45be5ykw5jsjg/
