.btn {
  border-radius: 0 !important; // sass-lint:disable-line no-important
  padding: 0 2em !important; // sass-lint:disable-line no-important
}

.pagination {
  li {
    padding-left: 0 !important; // sass-lint:disable-line no-important

    &::after {
      content: none;
    }
  }
}

$primary: #1a95e0;

@import 'bootstrap/scss/bootstrap';

body {
  font-size: 13px !important; // sass-lint:disable-line no-important
  line-height: 1.3em !important; // sass-lint:disable-line no-important
}

html {
  overflow-y: scroll;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.radio-group {
  label {
    span {
      line-height: 2em;
    }
  }
}
