aiochclient==2.1.0
aiocrossref==0.2.1
aiolibgen==0.2.0
aiobaseclient==0.2.4
aioipfs-2==1.0.0
aiogrobid==0.1.2
aiogrpcclient==1.1.11
aiodns==3.0.0
aiofiles==0.8.0
aiohttp==3.8.1
aiohttp-socks==0.7.1
aiokafka==0.7.2
aiokit==1.1.2
aiosignal==1.2.0
asn1crypto==1.5.1
async-timeout==4.0.2
attrs==21.4.0
backports.zoneinfo==0.2.1
base58==2.1.1
beautifulsoup4==4.10.0
bjoern==3.2.1
blis==0.7.7
Brotli==1.0.9
cachetools==5.0.0
catalogue==2.0.7
cchardet==2.1.7
certbuilder==0.14.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cryptography==36.0.2
cymem==2.0.6
ecdsa==0.17.0
emoji==1.7.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.4
fire==0.4.0
flake8==4.0.1
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
frozenlist==1.3.0
greenlet==1.1.2
grpcio==1.44.0
idna==3.3
isort==5.10.1
itsdangerous==2.1.2
izihawa-types==0.1.3
izihawa-utils==1.0.2
Jinja2==3.1.1
joblib==1.1.0
kafka-python==2.0.2
langcodes==3.3.0
lemminflect==0.2.2
lightgbm==3.3.2
lru-dict==1.1.7
lxml==4.8.0
MarkupSafe==2.1.1
mccabe==0.6.1
multidict==6.0.2
murmurhash==1.0.6
numpy==1.22.3
orjson==3.6.7
oscrypto==1.3.0
packaging==21.3
passlib==1.7.4
pathspec==0.9.0
pathy==0.6.1
pip==22.0.4
ply==3.11
preshed==3.0.6
prometheus-client==0.13.1
protobuf==3.19.4
psycopg==3.0.10
psycopg-binary==3.0.10
psycopg-pool==3.1.1
pyaes==1.6.1
pyasn1==0.4.8
pycares==4.1.2
pycld3==0.22
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.8.2
pyflakes==2.4.0
PyJWT==2.3.0
pyparsing==3.0.7
PyPika==0.48.9
python-socks==2.0.3
pytimeparse==1.1.8
PyYAML==6.0
recordclass==0.17.2
requests==2.27.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
setuptools==61.2.0
six==1.16.0
smart-open==5.2.1
soupsieve==2.3.1
spacy==3.2.3
spacy-legacy==3.0.9
spacy-loggers==1.0.1
SQLAlchemy==1.4.32
sqlparse==0.4.2
srsly==2.4.2
Telethon==1.24.0
tenacity==8.0.1
termcolor==1.1.0
thinc==8.0.15
threadpoolctl==3.1.0
tqdm==4.63.1
typer==0.4.0
typing_extensions==4.1.1
urllib3==1.26.9
uvloop==0.16.0
wasabi==0.9.0
Werkzeug==2.0.3
wheel==0.37.1
WTForms==3.0.1
WTForms-JSON==0.3.4
yamllint==1.26.3
yarl==1.7.2
