aiochclient
aiocrossref
aioipfs-2
aiogrobid
aiolibgen
aiobaseclient
aiogrpcclient
aiodns
aiofiles
aiohttp
aiohttp_socks
aiokafka
aiosumma
base58
beautifulsoup4
brotli
cachetools
cchardet
certbuilder
chardet
coverage
croniter
cryptography
dateparser
ecdsa
emoji==1.7.0
entrypoints
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
fasttext
fire
flake8
grpcio
isort
izihawa-utils
izihawa-types
jinja2
lemminflect
lightgbm
jq
lru_dict
lxml
numpy
orjson
pandas
passlib
pathspec
pikepdf
ply
prometheus_client
protobuf
psycopg
psycopg_binary
psycopg_pool
pycryptodome
pypika
pyflakes
pyjwt
pymorphy2
pypdf2
pytest
python-dateutil
python_socks
pytimeparse
pyyaml
recordclass
seaborn
selenium
setuptools
spacy
sqlalchemy
telethon
tenacity
textblob
uvloop
wheel
www-authenticate
yamllint