aiochclient
aiodns
aiofiles
aiohttp
aiohttp_socks
aiokafka
backports_zoneinfo
base58
beautifulsoup4
bjoern
brotli
cachetools
cchardet
certbuilder
cryptography
emoji
entrypoints
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
fire
flake8
flask_sqlalchemy
flask_wtf
grpcio
isort
jinja2
lemminflect
lightgbm
lru_dict
lxml
numpy
orjson
passlib
pathspec
ply
prometheus_client
protobuf
psycopg
psycopg_binary
psycopg_pool
pypika
pycld3
pyflakes
pyjwt
python_socks
pytimeparse
pyyaml
recordclass
setuptools
spacy
sqlalchemy
telethon
tenacity
uvloop
wheel
wtforms_json
yamllint